<div>
  <div
    class="all-products"
    *ngIf="allProducts$ | async as allProducts; else loading"
  >
    <div style="width: 100%;">
      <label>Category</label>
      <select (change)="uniqueTypesFunction($event)">
        <option *ngFor="let item of uniqueTypes$ | async">{{ item }}</option>
      </select>
      <br />

      <input
        (change)="priceRangeSliderFunction($event)"
        type="range"
        min="0"
        max="10000"
        value="{{ priceRangeSlider }}"
      />
    </div>

    <app-singular
      *ngFor="let singular of allProducts"
      id="{{ singular.id }}"
      title="{{ singular.title }}"
      description="{{ singular.description }}"
      imgUrl="{{ singular.imgUrl }}"
      price="{{ singular.price }}"
    >
    </app-singular>
  </div>
  <ng-template #loading>
    LOADING
  </ng-template>
</div>
