<div>
  <div
    class="all-products"
    *ngIf="filteredProducts$ | async as filteredProducts; else loading"
  >
    <div style="width: 100%;">
      <label>Category</label>

      <select value="{{initValue}}" (change)="uniqueTypeFunction($event)">
        <option *ngFor="let item of uniqueTypes">{{ item }}</option>
      </select>

      <br />

      <input
        *ngIf="selectedRangeSlider$ | async as priceRangeSlider"
        (change)="priceRangeSliderFunction($event)"
        type="range"
        min="0"
        max="10000"
        value="{{ priceRangeSlider }}"
      />
    </div>

    <app-singular
      *ngFor="let singular of filteredProducts"
      id="{{ singular.id }}"
      title="{{ singular.title }}"
      description="{{ singular.description }}"
      imgUrl="{{ singular.imgUrl ? singular.imgUrl : "https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" }}"
      price="{{ singular.price }}"
    >
    </app-singular>
  </div>
  <ng-template #loading>
    LOADING
  </ng-template>
</div>
